.recomendations {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
}

.recomendedImg {
  height: 230px;
  max-width: 180px;
}

.startButton {
  bottom: 0;
  margin-bottom: 0;
  position: fixed;
}
